body{
	font-family: arial, sans-serif;
	text-align: center;
}


#nav_wrapper{
	height:80px;
	width:100%;
	background: black;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	opacity:0.7;
	filter:alpha(opacity=100); 
}

#nav_wrapper ul li{
	list-style: none;
	display:inline;
	font-weight: bold;
	padding:20px;

}

#nav_wrapper a{
	color:white;
	text-decoration: none;
	padding:10px;
}

/*FOOTER */
.footer{
	position: fixed;
	left:0;
	bottom:0;

}
#footercontainer{
	min-height: 100%;
}

#main{
	overflow: auto;
	padding-bottom: 100px;
}

#footer{
	padding: 10px 0px 90px 0px ;
	width: 100%;
	background-color: lightgrey;
	position:relative;
	height: 100px;
	margin-top: -100px;
	clear:both;
	position: relative;

}


