/*body{
	font-family: arial, sans-serif;
	position: center;
	background-image: url(IMG_4383-1.jpg);
	color: black;
}



/*Membership
#container {
    margin: 5px;
    max-width: 1500px;
    padding: 10px;
    background-color: white;
    opacity: 0.9;
    filter: alpha(opacity= 100);
    color: black;
    
}

input[type=text], input[type=password], input[type=email], input[type=number], input[type=submit]{
    width: 20%;
    padding: 15px;
    margin: 8px 0 20px 0;
    border: none;
    background-color: white;
    outline-color: black;
    color: black;
    outline: solid;
    
}

 input[type=submit]{
 background-color: grey;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 45%;
  opacity: 0.9;
  font-weight: bold;
 }

 input[type=submit]:hover{
 	opacity: 1;
 }

#registration{
    margin: 5px;
    max-width: 1500px;
    padding: 10px;
    background-color: white;
    opacity: 0.9;
    filter: alpha(opacity= 100);
    color: black;
    
}


#loginform{
	margin: 5px;
    max-width: 1500px;
    padding: 10px;
    background-color: white;
    opacity: 0.9;
    filter: alpha(opacity= 100);
    color: black;
}

#loginform a{
  color: black;
}





/*FOOTER 
footer{
	background-color: black;
	opacity: 1;
	font-weight: bold;
	padding:10px;
	clear: both;
	
}

#list ul, li, a{
 	margin: 20px;
 	color: white; 
 	text-align: left;
 	list-style: none;
 	display: inline;
}

#footerinfo p{
	margin: 5px;
	color: white;
	text-align: right;

}


